:root {
    box-sizing: border-box;
}

* {
    scroll-behavior: smooth;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
}

body * + * {
    margin-top: 1.5em;
}

main {
    margin-top: 12vh;
}

main > * {
    background-color: #fff;
}
/* ===== Nav Styles ===== */
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5em;
}

.banner {
    transform: perspective(200px) rotateY(14deg);
    padding-left: 2em;
    transition: transform ease 0.35s;
    
}

.banner > h1 {
    z-index: 1;
    position: relative;
}

#banner-underline {
    height: 1.5em;
    width: 3em;
    display: block;
    background-color: red;
    margin: 0;
    width: 100%;
    margin-top: -3em;
    z-index: -1;
    opacity: 0.75;
    transform: skew(-20deg);
    transition: transform ease 0.4s;
}

.nav-list {
    display: flex;
    margin: 0;
    list-style-type: none;
    padding: 0.5em;
    justify-content: flex-end;
}

.nav-list > li {
    margin-top: 0;
}

.nav-list > li + li {
    margin-left: 1.5em;
}

.nav-list a {
    font-size: 1.1em;
    color: #000;
    text-decoration: none;
    position: relative;
    font-weight: 500;
    position: relative;
    z-index: inherit;
}

.nav-list a::after {
    content: '';
    display: block;
    position: absolute;
    height: 0.75em;
    width: 0;
    left: -0.1em;
    top: 0.35em;
    background-color: rgb(255, 0, 0);
    transition: width ease 0.3s;
    transform: skew(-10deg);
}

/* Experimental */
.nav-list li:last-child > a::after {
    transform: skew(-9deg);
    background-color: rgb(255, 0, 0);
}

.nav-list a:hover::after {
    width: 110%;
    z-index: -1;
    opacity: 0.70;
}

/* ===== Layout and Section Styles ===== */
.section-front {
    height: 110vh;
}

.section-front > div {
    text-align: center;
    padding: 2.5em 0;
}

.section-front h2 {
    letter-spacing: 0.05em;
    text-transform: capitalize;
    display: block;
    font-weight: 600;
    font-size: 3em;
    margin: 0;
    position: relative
}

.section-front:not([id=landing]):not([id=about]) h2 {
    display: inline-block;
}

.section-front:not([id=landing]):not([id=about]) h2::after {
    position: absolute;
    content: "";
    bottom: -1rem;
    display: block;
    background-color: red;
    height: 0.5vh;
    width: 75%;
    left: 15%;
    transform: skew(-20deg);
    
}

.flex-container {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
    padding: 20vh 0;
}

.flex-container > div:not([class=img-container]) {
    margin-top: 4em;
    text-align: left;
}

.flex-container > .img-container {
    margin-top: 2.5em;
}


.flex-container p {
    line-height: 1.4em;
}

.flex-container h2 {
    font-size: 3rem;
}

.img-container {
    margin: 0;
}

.img-container img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    /* z-index only works when the position is relative */
    position: relative;
    z-index: 2;
}

/* ! Adjust */
/* ----- Landing ----- */
.background-texture {
    background: radial-gradient(rgba(0, 0, 0, .08) 7%, transparent 8%),
    radial-gradient(rgba(0, 0, 0, .08) 7%, transparent 8%),
    transparent;
    background-clip: border-box;
    background-position: 0 0, 25px 25px;
    background-origin: padding-box;
    background-repeat: repeat;
    background-size: 25px 25px;
    bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: transparent;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 12%;
    width: 100%;
    height: 110vh;
}
/* ----- About ----- */
.about {
    height: 80vh;
    margin-top: 0;
}

/* ----- Work ----- */
.w-cont {
    width: 85%;
    margin: 0 auto;
}
.work {
    background-color: rgb(248, 248, 248);
    margin-top: 0;
}

.section-front.work h2 {
    margin: 3rem 0 4rem;
}

.work-cards {
    transition: box-shadow ease 0.4s;
}

.work-cards:hover {
    box-shadow: 1px 2px 10px 8px rgb(238, 238, 238);
}

.work-cards > h4 {
    margin: 1.8em 0 1em;
    font-size: 1.4em;
    letter-spacing: 0.1em;
}

.work-cards > p {
    line-height: 1.5em;
}

/* Font Awesome */
.work-cards > i {
    color: red;
    transform: scale(1.5);
    margin-top: 1.5em;
    box-sizing: border-box;
}
/* ----- News ----- */

.news {
    height: 100vh;
    /* Because of transparent 'bug' */
    margin-top: 0;
}

.section-front.news h2 {
    margin: 3rem;
}

.news-flex {
    display: flex;
    justify-content: space-between;
}

.news .cards {
    border: 1px solid rgb(238, 237, 237);
    margin: 0 0.8em;
    height: fit-content;
    width: 30%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.news .cards > div {
    overflow: hidden;
}

.news .cards:hover > div img {
    transform: scale(1.3);
    transition: transform cubic-bezier(0, 0.4, 0.7, 1) 0.3s;
    transform-origin: center;
}

.news .cards h4 {
    font-size: 1.4em;
}

.news .cards > div {
    text-align: left;
    padding: 0.5em;
}

.news .cards > span {
    display: flex;
    border-top: 1px solid rgba(209, 209, 209, 0.87);
    justify-content: space-between;
    padding: 0.5em 0.75em;
}

.news .cards > span > span {
    margin: 0.5rem;
    text-align: center;
}

.news .cards > span > span > * {
    display: inline;
}

.news .cards > span > span > i {
    padding: 0.5rem;
}

.news .cards > span p {
    margin: 0;
}

.news .cards div > img {
    height: 60%;
    width: 100%;
    transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
}

.news .cards h4 {
    margin: 0;
}

.news p {
    margin: 1em auto 3em;
    text-align: center;
}


.news h2 {
    position: relative;
}

/* Cards */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.3em;
}
.cards {
    border-radius: 5px;
    margin: 0;
    background-color: rgb(255, 255, 255);
    height: 35vh;
    padding: 0.5em 1em;
    overflow: hidden;
}

/* ----- Contant or Footer ----- */
.contact {
    bottom: 0;
    height: 50vh;
    /* Scroll effect was cool but adjusting z-index brought extra code -- not worth the workarounds */
    /* position: sticky; */
    background-color: rgb(250, 250, 250);
    color: rgb(75, 75, 75);
    position: relative;
}

.contact > div {
    display: flex;
    padding: 0.5em 4em;
    justify-content: space-between;
}

.contact-container h4 {
    font-size: 1.8em;
    margin: 1em 0;
    color: rgb(78, 78, 78);
    
}

.contact-container h6 {
    font-size: 1.3em;
    margin: 1.5em 0;
    color: rgb(75, 74, 74);
}

.contact-container {
    margin-top: 0;
}

.contact-container p {
    line-height: 1.3em;
    padding-left: 0.5em;
}

.newsletter-form {
    /* display: flex; */
    background-color: rgb(255, 255, 255);
    display: inline-block;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 6px;
    margin-top: 0.5em;
}

.newsletter-form > input {
    padding: 1em 2em;
    margin: 0;
    margin-left: 0.5rem;
    border: none;
    width: 20vw;
    overflow: hidden;
    color: rgb(138, 138, 138);
    /* caret-color: transparent; */
    position: relative;
    /* font-size: 1.3rem; */
}

.newsletter-form > input::before {
    display: block;
    position: absolute;
    content: "";
    border-left: 1px solid #000;
    height: 80%;
    width: 100px;
    background-color: black;

}

.newsletter-form > button {
    background-color: rgba(255, 47, 47, 0.904);
    color: white;
    font-weight: 600;
    border: 1px solid rgba(255, 47, 47, 0.904);
    margin: 0.25em 0.25em;
    padding: 1em 1.5em;
    border-radius: 6px;
    cursor: pointer;
    
}

.newsletter-form > button:hover {
    background-color: rgba(255, 74, 74, 0.904);
    border: 1px solid rgba(255, 74, 74, 0.904);
}

#mission-statement {
    flex: 0.8;
    text-align: left;
    
}

#contact-links {
    flex: 0.5;
}

#newsletter {
    flex: 1;
}

#newsletter > div:first-child {
    margin-bottom: 0.7em;
    padding-left: 1.8em;
}

#newsletter h6 {
    margin-bottom: 0.7em;
    text-align: left;
    margin-left: 1.5em;
}

#contact-links ul {
    list-style-type: none;
    padding-left: 0;
}

#contact-links ul > li + li {
    margin: 1em 0;
}

#contact-links a {
    font-size: 1em;
    color: rgb(75, 75, 75);
    text-decoration: none;
}

#contact-links a:hover {
    color: rgb(134, 134, 134)
}

#copyright {
    bottom: 0;
    position: absolute;
    width: 100%;
    display: inline-block;
    background-color: rgb(240, 240, 240);
}

#copyright > p {
    color: rgb(138, 138, 138);
    margin: 0;
    padding: 0.8em 1.5em;
}