.nav-container {
    position: fixed;
    top: 0;
    min-width: 100%;
    padding-bottom: 0.5em;
    background-color: transparent;
}

.nav-container-scroll {
    z-index: 100;
    background-color: #fff;
}

.banner-scroll {
    transform: perspective(200px) translate(-0.8em) rotateY(0);
    padding-left: 1em;
}

.banner-underline-scroll {
    transform: skew(-20deg) scaleY(0.5) translateY(-0.5em) !important;
    margin-top: -2.3em !important;
}