.nav-container {
    position: fixed;
    top: 0;
    min-width: 100%;
    padding-bottom: 1em;
    z-index: 10;
    background-color: #fff;
}

.banner-str {
    transform: perspective(200px) translate(-0.8em) rotateY(0) !important;
    padding: 0 !important;
}

.banner-underline-str {
}