.slogan {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: 
        typing 3s steps(40),
        blink-cursor 0.75s step-end infinite;
}

.slogan::before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000;
}


@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink-cursor {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #000;
    }
}